* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    width: 1000px;
    height: 800px;
    grid-template-columns: repeat(3, minmax(150px, 300px));
    grid-template-rows: repeat(3, minmax(100px, auto));
    grid-template-areas: 
        "header header message"
        "blog blog message"
        "footer footer footer";
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
}

.grid-elem {
    background-color: rgba(1, 1, 96, 1);
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #000;
    border-radius: 4px;
} 

.orange {
    background-color: orange;
}

#header {
    grid-area: header;
}

#blog {
    grid-area: blog;
}

#message {
    grid-area: message;
}

#footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: subgrid;
    gap: 10px;
}
